<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FileR2ToR3.Properties.Settings.WolfApproveR2ConnectionString"
            connectionString="Data Source=172.168.1.4;Initial Catalog=WolfApproveR2;Persist Security Info=True;User ID=sa;Password=1n1t1al0!;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="FileR2ToR3.Properties.Settings.WolfApproveR3ConnectionString"
            connectionString="Data Source=172.168.1.4;Initial Catalog=WolfApproveR3;Persist Security Info=True;User ID=sa;Password=1n1t1al0!;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DbR2" value="Server=172.168.1.4;User=sa;Password=1n1t1al0!;Database=WolfApproveR2;Encrypt=True;TrustServerCertificate=True;Persist Security Info=False;MultipleActiveResultSets=True;"/>
		<add key="DbR3" value="Server=172.168.1.4;User=sa;Password=1n1t1al0!;Database=WolfApproveR3;Encrypt=True;TrustServerCertificate=True;Persist Security Info=False;MultipleActiveResultSets=True;"/>
		<add key="TempPathR2"  value="E:\WOLF_R3\Techconsbiz\API\FileUpload\"/>
		<add key="TempPathR3"  value="E:\WOLF_R3\Techconsbiz\API\wwwroot\"/>
		<add key="UserPass" value=""/>
	</appSettings>
</configuration>