<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DbR2.Properties.Settings.WolfApproveR2ConnectionString"
            connectionString="Data Source=172.168.1.4;Initial Catalog=WolfApproveR2;Persist Security Info=True;User ID=sa;Password=1n1t1al0!;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>